#piece1{
	height:60px;
	width:60px;
	position: relative;
	left:78px;
	border:black solid 2px;
	border-radius:100%;
}
.box{
    border: black solid;
    height: 46px;
    width: 53px;
    display: inline-block;
}
#puzzle {
    border: black solid 2px;
    height: 279px;
    width: 311px;
    position: relative;
    top: -162px;
    left: 1063px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
}
#gameBoard {
    height: 647px;
    width: 936px;
    border: black solid;
    display: inline-table;
    position: relative;
    top: 121px;
    left: 63px;
    border-radius: 15%;
    box-shadow: 5px 5px 10px 10px;
    background-color: ghostwhite;
}
#time{
	border: black solid;
    height: 50px;
    width: 310px;
    position: relative;
    top: -112px;
    left: -3px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
}
aside {
    height: 246px;
    width: 309px;
    border: black solid;
    float: right;
    position: relative;
    bottom: 723px;
    right: 46px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
}
.img{
    height: 46px;
    width: 53px;
}
/*#img2{
	height: 25px;
    width: 29px;
}
#img3{
	height: 25px;
    width: 29px;
}
#img4{
	height: 25px;
    width: 29px;
}*/
body{
	background-color: lightblue;
}
h1{
   
    position: relative;
    left: 373px;
    top: 82px;
    font-size: 42px;
    font-style: chalkduster;
}