/*@media screen and (min-width: 1025px){*/
#piece1{
	height:60px;
	width:60px;
	position: absolute;
	left:78px;
	border:black solid 2px;
	border-radius:100%;
    box-shadow: 5px 14px 10px;
}
.box{
   /* border: black solid;*/
    height: 31px;
    width: 31px;
    display: inline-block;
}
#puzzle {
    border: black solid 2px;
    height: 175px;
    width: 175px;
    position: absolute;
    top: 305px;
    left: 15px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
}
#gameBoard {
    height: 647px;
    width: 936px;
    /* border: white solid; */
    display: inline-table;
    position: absolute;
    top: 187px;
    left: 251px;
    border-radius: 15%;
    /* box-shadow: 5px 5px 10px 10px; */
    /* background-color: ghostwhite; */
    /* z-index: -1; */
}

#time {
    border: black solid;
    border-radius: 24%;
    height: 50px;
    width: 106px;
    position: absolute;
    top: 75px;
    left: 658px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
    font-size: 49px;
    z-index: -1;
}
aside {
    height: 246px;
    width: 281px;
    border: black solid;
    float: right;
    position: absolute;
    bottom: -132px;
    right: 1136px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
    /*background: #222;*/
	z-index: -1;
}
.img{
    height: 31px;
    width: 31px;
}
/*#img2{
	height: 25px;
    width: 29px;
}
#img3{
	height: 25px;
    width: 29px;
}
#img4{
	height: 25px;
    width: 29px;
}*/
body{
	background-image: url('http://www.psdgraphics.com/file/puzzle-frame.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    position: absolute;
    left: 491px;
    top: -30px;
    font-size: 50px;
    font-style: chalkduster;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
p{
	font-size: 48px;
    text-align: center;
    padding: 4px 18px;
}
#new{
    height: 40px;
    width: 92px;
    font-size: 14px;
    border-radius: 30%;
    box-shadow: 5px 5px;
}
#Instructions{
    border: black solid 3px;
    position: absolute;
    top: 208px;
    width: 700px;
    height: 542px;
    border-radius: 69px;
    box-shadow: 5px 18px 10px;
    left: 366px;
    z-index: -1;
}
#start{
    height: 60px;
    width: 146px;
    font-size: 44px;
    position: absolute;
    left: 651px;
    top: 680px;
    background-color: skyblue;
    border-radius: 25px;
}
/*}*/


/*body{
    background-image: url('http://www.psdgraphics.com/file/puzzle-frame.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#gameBoard {
    height: 479px;
    width: 560px;
    border: black solid; 
    display: inline-table;
    position: absolute;
    top: 148px;
    left: 217px;

}
h1 {
    position: absolute;
    left: 321px;
    top: -30px;
    font-size: 38px;
    font-style: chalkduster;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
#time {
    border: black solid;
    border-radius: 24%;
    height: 32px;
    width: 62px;
    position: absolute;
    top: 49px;
    left: 456px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
    font-size: 31px;
    z-index: -1;
}
h1{
    position: absolute;
    left: 321px;
    top: -25px;
    font-size: 38px;
    font-style: chalkduster;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
#puzzle {
    border: black solid 2px;
    height: 86px;
    width: 86px;
    position: absolute;
    top: 305px;
    left: 15px;
    box-shadow: 5px 5px 10px;
    background-color: ghostwhite;
    /*height: 680px;     js tweak
    width: 942px;
}
.box-m {
    border: black solid;
    height: 14px;
    width: 14px;
    display: inline-block;
}

.img{
    height: 14px;
    width: 14px;
    display: inline-block;
}
*/*/